# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.deb

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.png
!menu-1.png
!menu-2.png
!menu-3.png
!output_example-1.png
!output_example-2.png
!icon.png
!banner-treesnap.png
hoi4treesnapGamePath.txt
